@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Trade+Winds&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #007FFF;
    font-family: "Trade Winds", serif;
}

.titulo{
    text-decoration: none;
}

.container{
    background-color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    padding: 22px;
    padding-left: 3%;
}

body{
    background-color: rgba(0, 87, 158, 0.205);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    color: #007FFF;
    font-size: 2.1rem;
}

.h2 {
    margin-bottom: 40px;
}

.caixa-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
    position: relative;
}

.login{
    color: rgba(80, 80, 80, 0.911);
    border-radius: 20px;
    background-color: #fff;
    padding: 2rem;
    max-width: 400px;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.19);
}

::placeholder{
    color:  rgba(148, 148, 148, 0.76);
    font-size: 1rem;
}
input{
    background-color: rgba(170, 170, 170, 0.219);
    border: 1px solid #FFD700;
    max-width: 100%;
    width: 400px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4.5%;
}

.space {
    margin-top: 30px;
}

.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 130px;
    height: 45px;
    background-color: #007FFF;
    border: none;
    color:  #E0E0E0;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

.enviar:hover{
    background-color: #0059b3;
    width: 138px;
    height: 48px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.418);
}

p{
    margin-top: 20px;
    text-align: center;
}

.link{
    color:#007FFF;
}

.link:hover{
    color:  #0059b3;
}

.botao-voltar a{
    text-decoration: none;
    color: #E0E0E0;
}

.botao-voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    top: -35px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: #007FFF;
    border-radius: 20px;
    max-width: 100%;
    width: 80px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.botao-voltar:hover{
    background-color: #0059b3;
    width: 85px;
    height: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.418);
}